:root {
  --global-backgroud: blue;
  --number-btns: grey;
  --operation-btns: yellow;
  --display-font: black;
  --number-btns-font: black;
  --operation-btns-font: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#root {
  border: 2px solid black;
  padding: 12rem;
}

button {
  padding: 10px;
}



