:root {
  --global-backgroud: blue;
  --number-btns: grey;
  --operation-btns: yellow;
  --display-font: black;
  --number-btns-font: black;
  --operation-btns-font: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#root {
  border: 2px solid black;
  padding: 3rem;
  width: 70vh;
}

.displayer {
  width: 100%;
  height: 8rem;
  border: brown solid 3px;
}

.buttonsPanel {
  border: chartreuse solid 3px;
}

.buttons_row {
  display: flex;
  flex-direction: row;
}

.btn {
  flex-grow: 1;
}

button {
  padding: 10px;
}



